<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Algo study
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="ion-text-center"></ion-title>
      <ion-title size="large">Algo Study</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" class="ion-text-center">



    <div>
      <ion-button (click)="this.presentPopover($event)">
        <ion-icon slot="start" name="ellipse"></ion-icon>
        Bubble Sort
      </ion-button>
      <ion-button color="secondary" fill="outline" href="https://en.wikipedia.org/wiki/Bubble_sort">
        <ion-icon  name="information-circle"></ion-icon>
      </ion-button>
    </div>

    <div>
      <ion-button (click)="this.presentPopover($event)">
        <ion-icon slot="start" name="ellipse"></ion-icon>
        Merge Sort
      </ion-button>
      <ion-button color="secondary" fill="outline" href="https://en.wikipedia.org/wiki/Merge_sort">
        <ion-icon  name="information-circle"></ion-icon>
      </ion-button>
    </div>
    <div>
      <ion-button (click)="this.presentPopover($event)">
        <ion-icon slot="start" name="ellipse"></ion-icon>
        Insertion Sort
      </ion-button>
      <ion-button color="secondary" fill="outline" href="https://en.wikipedia.org/wiki/Insertion_sort">
        <ion-icon  name="information-circle"></ion-icon>
      </ion-button>
    </div>

    <div id ="startB">
      <ion-button  href = "http://localhost:8100/tabs/tab2">
        <ion-icon slot="start" name="play"></ion-icon>
        Start
      </ion-button>
    </div>



    <div id ="about" >
      <ion-button >
        <ion-icon slot="start" name="people"></ion-icon>
        About us
      </ion-button>

    </div>

  </div>

</ion-content>
